h1{
    text-align: center;
    padding: 5%;
    background-image: linear-gradient(black, white);
    color: whitesmoke;
    margin: 0;

}

.bioPara{
    float: Right;
    border: black 1px 20%;
    border-radius: 200px;
    padding-left: 10%;
}

img{
    float: left;
}

.lists{
    float: left;
}

.outlinks{
    float: left;
}